<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
    <div class="imageWrapper">
            <div class="headerBackground">
                <div class="container">
                    {% include header.html %}
                    <div class="screenshotGallery">
                        {% for file in site.static_files %}
                            {% if file.path contains 'assets/screenshot/' %}
                                {% if file.extname == '.png' or file.extname == '.jpg' or file.extname == '.jpeg' %}
                                    <div class="screenshotItem">
                                        <img src="{{ site.github.baseurl }}{{ file.path }}" alt="Screenshot">
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="appDescriptionSection">
                        <p class="appDescriptionText">{{ site.app_description }}</p>
                    </div>
                    {% include features.html %}
                    {% include footer.html %}
                    {% include appstoreimages.html %}
                </div>
            </div>
        </div>
</body>
</html>